
@media only screen and (min-width: 480px)
{.mobile-navigation{
    margin: 0;
}

.menu-toggle{
    border: 0;
    padding: 0;
    background-color: #fff;
}

.mobile-navigation__icon{
    width: 24px;
    height: 16px;
    &:hover{
        fill:#2196F3;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
}
}

@media (min-width: 768px) {
    .menu-toggle {
      display: none;
    }
  }
  
.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 32px;
    background-color: #FFFFFF;
    z-index: 999;
  
    transform: translateX(100%);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
  
.menu-container.is-open {
    transform: translateX(0);
}
  
.menu-container .menu-toggle {
    position: absolute;
    top: 16px;
    right: 16px;
    color: #fff;
}
  
.mobile-menu {
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 0.02em;

    
}
.mobile-menu__link--active{
    color: #2196F3;
}
  
.mobile-menu .mobile-menu__link {
    display: block;
    padding: 10px;
    color: #212121;
    text-decoration: none;
}

.menu-toggle-close-icon{
    height: 18.68px;
}
.mobile-menu-contact{
    text-decoration: none;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    padding-top: 306px;
}
.mobile-menu-contact__item{
    padding-bottom: 32px;
}
.mobile-menu-contact__link-phone{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.02em;
    color: #2196F3;
    text-decoration: none;
    
}
.mobile-menu-contact__link-email{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;
    color: #757575;
    text-decoration: none;
}

.mobile-menu-social-link{
    display: flex;
    text-decoration: none;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    padding-top: 64px;
    
}
.mobile-menu-social-link__item{
    text-decoration: none;    
    padding-right: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.02em;
    color: #2196F3;
}