
@media only screen and (max-width: 768px)
{.mobile-navigation{
    margin: 0;
}

.menu-toggle{
    border: 0;
    padding: 0;
    background-color: #fff;
}

.mobile-navigation__icon{
    width: 24px;
    height: 16px;
    &:hover{
        fill:#2196F3;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
}
}
/*@media only screen and (min-width: 768px)
{
    .mobile-navigation{
        
    }
}*/
@media (min-width: 768px) {
    .menu-toggle {
      display: none;
    }
  }
  
  
  
  .menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 32px;
    background-color: #FFFFFF;
    z-index: 999;
  
    transform: translateX(100%);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .menu-container.is-open {
    transform: translateX(0);
  }
  
  .menu-container .menu-toggle {
    position: absolute;
    top: 16px;
    right: 16px;
    color: #fff;
  }
  
  .mobile-menu {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  .mobile-menu .mobile-menu__link {
    display: block;
    padding: 10px;
    color: #212121;
    text-decoration: none;
  }

.menu-toggle-close-icon{
    height: 18.68px;
}
.mobile-menu-social-link{
    display: flex;
    text-decoration: none;
}
.mobile-menu-social-link__item{
    text-decoration: none;
    color:#2196F3;
    list-style: none;
    margin: 0;
}