.page-header{
    background-color: #FFFFFF;
    border-bottom: 1px solid #ECECEC;
}
.header{    
    height: 80px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-direction: row;
}