.page-footer{
    background-color:  #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
}    
.footer{
    display: flex;  
    justify-content: space-between;
    align-items: baseline;
}
.footer__address{
    color: #FFFFFF;
    width: 247px;
    height: 21px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
}
.footer__contact{
    color: rgba(255, 255, 255, 0.6);
    width: 231px;
    height: 21px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-decoration: none;
}