@media only screen and (max-width: 768px){

.section__title{     
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 33px;
    display: flex;
    text-align: center;
    justify-content: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin: 0px;
    margin-bottom: 30px;
    padding-top: 60px;
}
}


@media screen  and (min-width: 1200px){
    .section__title{
        display: flex;
        font-weight: 700;
        font-size: 36px;
        line-height: 42px;
        text-align: center;
        letter-spacing: 0.03em;
        margin: 0px;
        margin-bottom: 50px;
        justify-content: center;
    }
}
